body {

    background-image: url('https://images2.minutemediacdn.com/image/upload/c_fill,w_1440,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/641668-studio-ghibli-c578e4a93ba06d84eb45007d08d87c03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#test {
    width: 50px;
    height: 50px;
    background: transparent;
    float: left;
    /* transition: 1s; */
    position: fixed;
    top: 0;
    left: 0;

}